video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-webkit-media-controls {
  display: none !important;
}
.aa-player-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: "微软雅黑";
  font-size: 12px;
}
.aa-player-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aa-player-container a {
  text-decoration: none;
}
.aa-player-container video {
  width: 100%;
  height: 100%;
}
.aa-player-container .aa-player-pause {
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.aa-player-container .aa-player-control-bar {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  padding: 7px 0 5px;
  background: #000;
  opacity: 0;
  transition: opacity 0.6s;
}
.aa-player-container .aa-player-control-bar .aa-player-process {
  position: absolute;
  bottom: 46px;
  background: #fff;
  width: 100%;
  height: 4px;
  z-index: 3;
  cursor: pointer;
}
.aa-player-container .aa-player-control-bar .aa-process {
  height: 100%;
  width: 0;
  background: #666;
  display: block;
  position: relative;
}
.aa-player-container .aa-player-control-bar .aa-process em {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 8px;
  background: #fff;
  right: 0;
  top: -2px;
  z-index: 5;
}
.aa-player-container .aa-player-control-bar .aa-player-time {
  margin-left: 10px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  float: left;
}
.aa-player-container .aa-player-button {
  position: relative;
  display: inline-block;
  float: left;
  height: 36px;
  width: 36px;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  opacity: 0.8;
  margin-left: 10px;
  box-shadow: 0 0 1px 1px #fff;
}
.aa-player-container .aa-player-button-play:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 10px;
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #000;
}
.aa-player-container .aa-player-button-pause:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 10px;
  width: 4px;
  height: 16px;
  background: #000;
}
.aa-player-container .aa-player-button-pause:after {
  content: '';
  position: absolute;
  left: 20px;
  top: 10px;
  width: 4px;
  height: 16px;
  background: #000;
}
.aa-player-container .aa-player-loading {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
@-webkit-keyframes aa-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.aa-player-container .aa-player-loading-eff {
  width: 50px;
  height: 50px;
  position: relative;
}
.aa-player-container .aa-player-loading-eff span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  position: absolute;
  -webkit-animation: aa-loading 1.04s ease infinite;
}
.aa-player-container .aa-player-loading-eff span:nth-child(1) {
  left: 0;
  top: 50%;
  margin-top: -4px;
  -webkit-animation-delay: 0.13s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(2) {
  left: 7px;
  top: 7px;
  -webkit-animation-delay: 0.26s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(3) {
  left: 50%;
  top: 0;
  margin-left: -4px;
  -webkit-animation-delay: 0.39s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(4) {
  top: 7px;
  right: 7px;
  -webkit-animation-delay: 0.52s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(5) {
  right: 0;
  top: 50%;
  margin-top: -4px;
  -webkit-animation-delay: 0.65s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(6) {
  right: 7px;
  bottom: 7px;
  -webkit-animation-delay: 0.78s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(7) {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  -webkit-animation-delay: 0.91s;
}
.aa-player-container .aa-player-loading-eff span:nth-child(8) {
  bottom: 7px;
  left: 7px;
  -webkit-animation-delay: 1.04s;
}
