.mask {
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #0dcecb;
  opacity: 0.8;
}
.article h2 {
  font-size: 24px;
  font-family: "微软雅黑";
  font-weight: normal;
}
.article .txt {
  line-height: 24px;
  text-indent: 2em;
}
.article img {
  width: 100%;
}
