<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">{{title}}</h1>
</header>
<div  class="mui-content">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell mui-media" ng-repeat="grp in groups">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="{{grp.img}}">
				<div class="mui-media-body">
					{{grp.name}}
					<p class='mui-ellipsis'>{{grp.place}}</p>
				</div>
			</a>
		</li>
	</ul>
</div>