<style>
	.head {height: 40px;}
	#head {line-height: 40px;}
	#head-img1 {position: absolute;bottom: 10px;right: 15px;width: 40px;height: 40px;}
</style>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">{{title}}</h1>
</header>
<div class="mui-content">
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a id="head" ng-click="select()">头像
					<span class="head">
						<img class="head-img mui-action-preview" id="head-img1" src="{{account.url}}">
					</span>
				</a>
				</li>
				<li class="mui-table-view-cell">
					<a>姓名<span class="mui-pull-right">{{account.name}}</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>HBuilder账号<span class="mui-pull-right">{{account.account}}</span></a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a>QQ号<span class="mui-pull-right">{{account.qq}}</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>手机号<span class="mui-pull-right">{{account.phone}}</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>邮箱地址<span class="mui-pull-right">{{account.email}}</span></a>
				</li>
			</ul>
		</div>
		<div class="mui-scrollbar mui-scrollbar-vertical">
			<div class="mui-scrollbar-indicator"></div>
		</div>
	</div>
</div>