.panel {
  display: none;
  margin: 10px 0px 0px;
}
.panel .panel-body .row {
  margin: 0px;
}
.panel .panel-body textarea {
  height: 120px;
}
@media (min-width: 992px) {
  .panel .panel-body textarea {
    height: 180px;
  }
}
.panel .panel-body .btn {
  margin: 20px 0px;
}
.panel .panel-body .btn-default {
  float: right;
}
.btn-add {
  margin: 10px 0px 0px;
}
.btn-add a {
  margin-right: 10px;
  float: right;
}
.list-group {
  margin: 10px 0px 0px 0px;
}
